.fav-places-bg-container{
    background-image: url('clock-Tower-image.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.fav-paces-heading{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: Roboto;
    padding: 20px;
}
.Fav-places-card-container{
    background-color: white;
    border-radius: 9px;
    padding: 16px;
    margin: 10px;
}
.Fav-Places-Card-Heading{
    color: blueviolet;
    font-size: 23px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 5px;
}
.Fav-Places-Card-Description{
    font-size: 20px;
    font-family: "Roboto";
    width: 2000px;
    
}
.Fav-Place-Card-Image{
    height: 200px;
    width: 170px;
    padding: 3px;
}