.Fav-Books-Container{
    background-image: url("Books.png");
    height: 100vh;
    background-size: cover;
     display: flex;
    flex-direction: column;
    gap: 20px; 
}
.favourite-books-heading{
    color: black;
    background-color: white
    font-weight: bold;
    font-size: 40px;
    font-family: Roboto;
    padding: 20px;
}

    

.fav-books-card-container{
   background-color: white;
    border-radius: 9px;
    padding: 16px;
    margin: 10px;
    margin-bottom: 10px;
    
    

}
.fav-books-card-heading{
      color: blueviolet;
    font-size: 23px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 5px;
}

.fav-books-card-para{
        font-size: 20px;
    font-family: "Roboto";
    width: 2000px;

}
.fav-books-card-image{
     height: 200px;
    width: 170px;
    padding: 3px;;
}