.Advanced-background{
    background-image: url(" https://d2clawv67efefq.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 1800px;
    width: 100vw;
}
.Advanced-card{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-heading{
    text-align: center;
    font-size: 30px;
    font-family: "Bree Serif";
    font-weight: bold;
    color: #171f46;
    padding: 5px;

}
.card-descripton{
    font-size: 20px;
    color: #323f4b;
    font-family: "Roboto";
    text-align: center;
}
.button1{
   height: 60px;
    width: 39opx;
    background-color: #ffffff;
     border-radius: 10px;

}

.button2{
    height: 60px;
    width: 39opx;
    background-color: #171f46;
    color: white;
    border-radius: 10px;

}