

.detailed-view-heading{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.detailed-view-bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/seabg.png");
    background-size: cover;
     background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    
    
}
.Detailed-view-card-container{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
    padding: 10px;
    margin: 3px;
}
.description{
    font-size: 20px;
    
    font-family: "Roboto";
    padding: 10px;
    margin: 7px;
}